/* body */

body {
  background-color: #f8ede6;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

/* header */

.header {  
  background: url('./header_image.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 278px;
}

/* main */

/* 排版 */
.main {
  height: 100%;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 40px 17px;
  border-top: 8px solid #ff894b;
  box-shadow: 0 1px 4px 0 #0000005e;
  margin: -100px auto 50px auto;
}

.main__header {
  padding:0 17px;  
}

.main__form-wrapper {
  background-color: #ffffff;
  margin: 2px 0 0 0;
  padding:15px 17px;
}

.note__arrange_top {
  margin: 0 0 20px 0;
}

.note__arrange_require {
  margin: 30px 0 35px 0;
}

.note__arrange {
  margin: 0 0 12px 0;
}

.sub__arrange-1 {
  margin: 10px 0 20px 0;
}

.sub__arrange-2 {
  margin: 10px 0;
}

.sub__underline-short {
  width: 280px;
}

.sub__underline-long {
  width: 570px;
}

.main__form-type {
  line-height: 21px;
}

.form__option {
  display: flex;
  align-items: center;
}

.form__option + .form__option {
  margin: 20px 0 0 0;
}

.form__option-checkbox {
  border: 2px solid #0000008a;
  border-radius: 50% 50%
}

.form__option-text {
  margin: 0 0 0 12px;
  line-height: 22px;
}

/* 字型 */

.main__title {
  font-size: 34px;
  margin: 0 0 25px 0;
}

.note {
  font-size: 13px;
}

.red {
  color: rgb(217, 48, 37);
}

.link {
  color: #0000ee;
}

.subtitle {
  font-size: 20px;
}

input {
  outline: none;
  background-color: transparent;
}

.responses {
  font-size: 16px;
  border: none;
  resize: none;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  background-color: none;
}

.submit {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  border: 1px;
  background-color:#1a73e8;
  border-radius: 3px;
  padding: 8px 30px;
  margin: 20px 17px;
}

.remind {
  font-size: 12px;
  color: #0000008a;
}

/* footer */

.footer {
  font-size: 12px;
  text-align: center;
  color: rgb(102, 102, 102);
}

.footer__text-link {
  color: rgb(102, 102, 102); 
}

.footer__text {
  font-size: 22px;  
  color: rgb(187, 187, 187);
  margin: 30px 0 40px 0;
}

/* 新增的 class */

.input-focus {
  border-bottom: 2px solid rgb(192, 42, 32);
  transition: all 0.5s;
}

.warning-input-redline {
  border-bottom: 1px solid rgb(217, 48, 37);
}

.warning-bg {
  background-color: #fce8e6;
}

.warning-text {
  font-size: 16px;
  color: rgb(217, 48, 37);
  margin: 20px 0 10px 0;
}

.hide {
  display: none;
}

/* .hide1 {
  background-color: #ffffff;
  margin: 0;
}

.hide2 {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.hide3 {
  font-size: 14px;
  color: transparent;
  margin: 0;
} */

